<nav class="navbar navbar-expand-sm bg-primary navbar-dark">

    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="purchase" class="nav-link" routerLinkActive="active">Purchase List</a>
        </li>
        <!--li class="nav-item">
            <a href="create" class="nav-link" routerLinkActive="active">Add Asset</a>

        </li-->
        <li class="nav-item">
          <a href="user" class="nav-link" routerLinkActive="active">Home</a>
      </li>
        <li class="nav-item">
            <a href="login" class="nav-link" routerLinkActive="active">LogOut</a>
        </li>

    </ul>
    </nav>

    <div class="card">
        <div class="card-body">

          <form [formGroup]="purchaseForm" novalidate (ngSubmit)="updatePurchase()">
              <div [ngClass]="form-group">
                  <label class="col-md-4">Order Number</label>
                  <input type="text" [(ngModel)]="purchase.pd_orderno" readonly="true" class="form-control"
                    formControlName="pd_orderno" 
                    #pd_orderno />
                </div> 

                <div [ngClass]="form-group">
                  <label class="col-md-4">Asset Name</label>
                  <input type="text" [(ngModel)]="purchase.pd_ad_id" readonly="true" class="form-control"
                    formControlName="pd_ad_id" 
                    #pd_ad_name />
                </div> 

                <div [ngClass]="form-group">
                  <label class="col-md-4">Vendor Name</label>
                  <input type="text" [(ngModel)]="purchase.pd_vendor_id" readonly="true" class="form-control"
                    formControlName="pd_vendor_id" 
                    #pd_vendor_name />
                </div> 



                <div [ngClass]="form-group">
                  <label class="col-md-4">Asset Type</label>
                  <input type="text" readonly="true" [(ngModel)]="purchase.pd_type_id" readonly="true" class="form-control"
                    formControlName="pd_type_id" 
                    #pd_type_name />
                </div> 

                <div [ngClass]="form-group">
                  <label class="col-md-4">Quantity</label>
                  <input type="text" [(ngModel)]="purchase.pd_qty" readonly="true" class="form-control"
                    formControlName="pd_qty" 
                    #pd_qty />
                </div> 

                <div [ngClass]="form-group">
                  <label class="col-md-4">Status</label>
                  <input type="text" [(ngModel)]="purchase.pd_status" readonly="true" class="form-control"
                    formControlName="pd_status" 
                    #pd_status />
                </div> 

                <div [ngClass]="form-group">
                  <label class="col-md-4">Order Date</label>
                  <input type="date" [(ngModel)]="purchase.pd_dateStr" readonly="true" class="form-control"
                    formControlName="pd_date" 
                    #pd_dateStr />
                </div> 

                <div [ngClass]="form-group">
                  <label class="col-md-4">Delivery Date</label>
                  <input type="date" [(ngModel)]="purchase.pd_ddateStr"  class="form-control"
                    formControlName="pd_ddate" 
                    #pd_ddateStr />
                </div> 
                <div *ngIf="purchaseForm.controls['pd_ddate'].invalid && (purchaseForm.controls['pd_ddate'].dirty || purchaseForm.controls['pd_ddate'].touched)" class="alert alert-danger">
                  <div *ngIf="purchaseForm.controls['pd_ddate'].errors.required">
                    Delivery Date is required.
                  </div>
                </div>
    
            <br>
            <div class="form-group">
              <button type="submit" class="btn btn-primary"
              [disabled]="purchaseForm.pristine || purchaseForm.invalid" >
                Consignment Recieved
              </button>
          </div>
            </form>
        </div>
    </div>




    
