<nav class="navbar navbar-expand-sm bg-primary navbar-dark">

    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="assets" class="nav-link" routerLinkActive="active">Asset List</a>
        </li>
        <li class="nav-item">
            <a href="create" class="nav-link" routerLinkActive="active">Add Asset</a>

        </li>
        <li class="nav-item">
            <a href="login" class="nav-link" routerLinkActive="active">LogOut</a>
        </li>

    </ul>

</nav>
<form [formGroup]="assetform" (ngSubmit)="updateAssets()">
    <input type="hidden" #assetid [(ngModel)]="asset.ad_id" formControlName="ad_id">
    <div class="form-group">
        <label for="ad_name">asset Name </label>
        <input #assetname [(ngModel)]="asset.ad_name" type="text " formControlName="ad_name" class="form-control">

    </div>
    <div *ngIf="assetform.controls['ad_name'].invalid && (assetform.controls['ad_name'].dirty || assetform.controls['ad_name'].touched)" class="alert alert-danger">
        <div *ngIf="assetform.controls['ad_name'].errors.required">
          Asset Name is required.
        </div> 
        </div>
   

    <div class="form-group">
        <label for="ad_type_id">asset type</label>
        <select class="form-control" id="ad_type_id" [(ngModel)]="asset.ad_type_id" name="ad_type_id"
            formControlName="ad_type_id">
            <option value="">Choose Asset Type</option>
            <option *ngFor="let assettype of assettypes | async" value="{{ assettype.at_id }}">{{ assettype.at_name }}
            </option>
        </select>


    </div>

    <div class="form-group">
        <label for="  ad_class">asset class</label>
        <select
          class="form-control"
          formControlName="ad_class"
          [(ngModel)]="asset.ad_class"
        >
          <option value="">Select Asset Class</option>
          <option value="HW">Hardware</option>
          <option value="SW">Software</option>
        </select>

        
    </div>




    <button type="submit" class="btn btn-primary">Submit</button>
</form>